body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(source/background.jpg);
	background-size: cover;
}

nav{
	width: 100%;
	margin: auto;
	position: fixed;
	z-index: 1;
}

.top-wrapper{
	width: 100%;
	margin: auto;
    position: relative;
	background-image: url('../source/Main.jpg');
	background-size: cover;
}

.topmain{
	padding: 230px 100px 230px 100px;
}

.topmain h1{
	color: #f2f2f2f2;
	font-size: 60px;
	text-align: center;
	font-weight: 900;
	line-height: 70%;
	text-shadow: 2px 2px black;
	padding-bottom: 2px;

}

section {
	margin: 50px;
}

.navbar {
	background-color: #333;
	overflow: hidden;
}

.topnav a {
	float: left;
	color: #f2f2f2f2;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 17px;
}

.tbl a {
	float: right;
	color: #f2f2f2f2;
	text-align: center;
	padding: 12px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #E4E9BE;
	color: black;
}
.tbl a:hover {
	background-color: #E4E9BE;
	color: black;
}

.wrapper {
    width: 100%;
    margin: auto;
    position: relative;
}

.header {
	display: flex;
	padding: 100px 100px 0px 100px;
}
.konten {
	text-align: center;
}
.konten h1 {
	font-size: 40px;
}
.konten h2 {
	font-size: 50px;
	margin: 5px;
}
.header {
	font-family: calibri;
	font-size: 20px;
}

a.tbl-main {
	background-color: #333;
	text-decoration: none;
	padding: 10px;
	color: white;
	border-radius: 10px;
}
a.tbl-main:hover {
	background-color: #E4E9BE;
	color: black;
}

.deskripsi {
	text-align: left;
	margin-left: 20px;
	font-size: 20px;
}

.header img {
	border-radius: 20px;
	box-shadow: 20px 15px 10px #ACB992;
}

.konten img {
	border-radius: 20px;
	box-shadow: 20px 15px 10px #ACB992;
}